
:root{
    --highlight-color: #8a0728; 
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 1rem 2rem;
    max-width: 900px;
    display: flex;
    line-height: 1.5;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.left-module {
    background-color: var(--highlight-color)
    ;
    width: 280px;
    padding: 1rem 2rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.left-module h1 {
    color: white;
    font-size: 18px;
    margin-bottom: -0.75rem;
}
.left-module li {
    color: white;
    font-size: 16px;
    margin-left: 1rem;
    margin-bottom: 0px;
}
.left-module p {
    color: white;
    font-size: 15px;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.left-module ul {
    list-style-type: none;
    padding: 0;
}
.main-module {
    flex: 1;
    padding: 0 2.5rem;
}
.main-module h1 {
    font-size: 18px;
    margin-top: -1rem;
    margin-bottom: -1rem;
    color: var(--highlight-color);
}
.main-module h2 {
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}
.main-module span {
    font-size: 16px;
    font-weight: 400;
}
.main-module h3 {
    font-size: 15px;
    margin-bottom: -0.75rem;
    font-weight: 400;
    color: gray;
}
.main-module p {
    font-size: 15px;
    margin-bottom: -0.75rem;
    color: gray;
}
.personal-information h1{
    font-size: 18px;
    margin-top: -1rem;
    margin-bottom: -0.75rem;
    color: rgb(0, 0, 0);
}
.address-information {
    font-size: 15px;
    margin: 1rem 0;
    color: gray;
    font-style: normal;
}

.contact-information h1{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: rgb(0, 0, 0);
}
.contact-information p{
    color: gray;
    font-weight: 700;
    font-style: normal;
}
hr {
    border: none;
    border-top: 4px solid #000000;
    margin: 2rem 0;
}
